.container-fluid{
  /*background-color:lightgreen;*/
    height:100vh;
    background-image:url('../../../assets/img/bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.wrap{

  min-height:100vw;
  background-image:url('../../../assets/img/bg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}
.cont-panel{

  height:fit-content;
  width:fit-content;
  margin-left:40vw;
}
/*-------+ PANEL------*/
.md-form{

  margin-top:5vw;
  display:inline-flex;
  width:100%;
}
#hozBtn{

  border-radius: 45%;
}
.clk-pic{
width:100%;
height:2vw;
}
/*-------------FORM--------------*/
#targyhozzad{

  position:relative;
  width: fit-content;
  height:fit-content;
}
.btn{
  position: relative;
  margin-left:3vw;
  margin-top: auto;
}
table{
  margin-top: 3vw;
  border-top:10px solid lightblue;
  border-left:10px solid lightblue;
  border-right:10px solid lightblue;
  border-bottom:10px solid lightblue;
  border-radius:5%;
}
/*--------------TABLE SZERKESZTÉSNÉL----------*/
.szerk{

max-width:100px;
}