<div class="container-fluid">
    <div class="row">
            <div id="face" class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a  href="https://hu-hu.facebook.com/sztekomm" target="_blank">facebook</a>
                </div>

                <div id="insta" class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a  href="https://www.instagram.com/sztekomm/?hl=hu" target="_blank">insta</a>
                </div>


                <div  id="jgypk" class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a  href="http://www.jgypk.u-szeged.hu/" target="_blank">jgypk</a>
                </div>
        </div>
</div>